@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

.App {
  background-color: #B3E140;
  font-family: 'poppins';
  padding: 30px;
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B3E140;
  padding: 20px;
}

.product-description{
  width: 300px;
}

.product-description h1{
  font-weight: 500;
}

.category {
  color: #757575;
}

ul h3 {
  font-weight: 500;
  margin-bottom: 1px;
}

.rating {
  color: #FFF500;
}

.rating-icon {
  font-size: 24px;
  margin-left: 7px;
}

.price h3 {
  font-size: 18px;
  font-weight: 600;
}

.price h2 {
  line-height: 1px;
  color: #FE2828;
  margin-bottom: 30px;
}

.product-image img{
  height: 92vh;
}

.button-cart a {
  background: transparent;
  border: 2px solid #fff;
  text-decoration: none;
  width: 130px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.button-cart a:hover {
  background-color: #99C038;
}

.review {
  display: flex;
  align-items: center;
  margin: 10px;
}

.review img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.detailUserReview h4,
.detailUserReview p{
  margin: 0;
}